body {
    background-image: url(img/attels123.jpeg);
    background-repeat: no-repeat;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color:black;
}

#popup {
    display: none;
}

#poga {
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#pirmaPoga{
    margin: 5%;
    width: 10%;
    background-color:green;
    font-size: large;
    border-radius: 20px;
    border: 1px solid black;



}

#form {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid crimson;
    width: 30%;
    border-radius: 20px;

}
